
probe --set=PXFS --fs "$root"
if [ $PXFS = iso9660 ]; then
	probe --set=PXLABEL --label "$root"
	set PXSPEC="LABEL=$PXLABEL"
else
	probe --set=PXUUID --fs-uuid "$root"
	set PXSPEC="UUID=$PXUUID"
fi

menuentry "Parallax OS setup" --class parallax --class gnu --class gnu-linux --class linux {
	linux /vmlinuz bootpar="$PXSPEC"
	initrd /initramfs.img
}

if [ "$grub_platform" = "efi" ]; then
	insmod efifwsetup
	fwsetup --is-supported
	set FWSUP="$?"
else
	set FWSUP=1
fi

if [ "$FWSUP" = "0" ]; then
	menuentry "UEFI Firmware Setup" --class firmware --id firmware {
		fwsetup
	}
fi
